<!DOCTYPE html>
<html lang="en">

  {% include "head.html" %}

  <body>
    <header class="header">
      <a href="/" title="Home">Home</a>
      <a href="/origin" title="Origin Story">Origin</a>
    </header>
    <div class="container">
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>