html {font-size: 100%;} /*16px*/

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem; font-weight: bold;}

small, .text_small {font-size: 0.75rem;}

.huge {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;

  @media (min-width: 767px) {
    font-size: 10rem;
    line-height: 1;
  }

 & + h2 {
    margin-top: 0;
  }
}

.hero {
  background-color: black;
  color: white;
  height: 100vh;

  &:nth-child(2) {
    background-color: #001f3f;
  }

  &:nth-child(3) {
    background-color: #0074D9;    ;
  }

  &:nth-child(4) {
    background-color: #7FDBFF;
  }

  &:nth-child(5) {
    background-color: #39CCCC;
  }

  &:nth-child(6) {
    background-color: #3D9970;
  }
  
  &:nth-child(7) {
    background-color: #2ECC40;
  }

  &:nth-child(8) {
    background-color: #FFDC00;
  }
  
  &:nth-child(9) {
    background-color: #FF851B;
  }

  &:nth-child(10) {
    background-color: #FF4136;
  }
  
  &:nth-child(11) {
    background-color: #85144b;
  }

  &:nth-child(12) {
    background-color: #F012BE;
  }

  &:nth-child(13) {
    background: #B10DC9;
  }

  &:last-of-type {
    background-color: black;
  }

  
}

.content {
  padding: 2rem;
  @media (min-width: 767px) {
    max-width: 50rem;
    margin: 0 auto;
  }

  img {
    max-height: 75vh;
    object-fit: contain;
    margin-top: 2rem;
  }

  img + h5 {
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
  }
}

.hide {
  display: none;;
}

#btn {
  margin: 1rem 0;
  width: 100%;
  padding: .875rem 1.2rem;
  background: 0;
  border: 1px solid #fff;
  font-size: 1.5rem;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}

.bottom {
  margin: 0;
  position: absolute;
  bottom: 3rem;
}

.block {
  display: block;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
