.christmas-2022 {
    .hero {
        height: 100%;
        background: rgb(14, 2, 4);
        background: linear-gradient(225deg, rgba(14, 2, 4, 1) 0%, rgba(253, 45, 53, 1) 100%);

        h1 {
            font-size: xx-large;
            font-weight: bold;
        }
    }

    .carousel > p {
        margin-top: 2rem;
    }

    @media screen and (min-width: 767px) {
        .hero {
            height: 100vh;
        }
        
    }
}
