.radial-overlay {
  // bg image with multiple layer effects
  // https://codepen.io/danwilson/pen/dqZvmx
  --image: url(https://s3.us-east-2.amazonaws.com/moderwell.family/christmas-2018/family.jpg);
  --image-mobile: url(https://s3.us-east-2.amazonaws.com/moderwell.family/christmas-2018/family-small.jpg);
  --color-v: #212121;
  --color: grey;
  background:
    radial-gradient(circle, transparent 55%, var(--color-v) 85%),
    linear-gradient(to right, var(--color), var(--color)),
    var(--image-mobile);
  background-position: center center;
  background-size: cover;
  background-blend-mode:
    var(--blend-top, normal),
    var(--blend-bottom, saturation),
    normal;

  @media (min-width: 960px) {
    background:
      radial-gradient(circle, transparent 40%, var(--color-v) 85%),
      linear-gradient(to right, var(--color), var(--color)),
      var(--image);
    background-size: cover;
  }
}

.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.christmas-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .christmas-card-content {
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: center;
    color: white !important;
    font-family: 'Rubik';
    font-size: .875rem;

    h4, p {
      margin: 0 auto;
      margin-bottom: .5rem;
    }

    h4 {
      max-width: 65rem;
      font-family: 'Rubik Mono One';
      font-weight: 300;
      font-size: 1.5rem;
      color: white;
      

      @media (min-width: 767px) {
        font-size: 1.75rem;
      }
    }

    p {
      max-width: 40rem;
    }

    .christmas-card-buttons {
      margin-bottom: 2rem;

      .btn {
        display: inline-block;
        padding: .75rem 1.5rem;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: white;
        color: black;
        margin-top: .5rem;
      }

      .btn + .btn {
        margin-left: 1rem;
      }
    }
  }
}
