// Signup
//
// Styling MC signup form embed (farm)

.signup-form {
    padding: 1rem 2rem;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: $gray-1;
    color: $body-color;

    h4 {
        color: $body-color;
        margin: 0;
        margin-bottom: .75rem;
    }

    .mc-field-group input {
        width: 100%;
    }

    input[type="submit"] {
        background-color: red;
        font-size: 1rem;
        border: rgba(0, 0, 0, 0.2);
        padding: 0.5rem 0.875rem;
        margin-top: .75rem;
    }
}
