<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="hero">
      <div class="content">
        <h1 class="huge">Merry Christmas</h1>
        <h2>— ModCorp Industries Ltd.</h2>
        {{ content }}
        <button id="btn">Loading</button>
        <audio
          id="audio"
          class="hide"
          controls
          preload="auto"
          src="https://drive.google.com/uc?export=view&id=1sfslxYf80Foee6KbIYsdgKkIJRTeL_1q"
        >
          Your browser does not support the
          <code>audio</code> element.
        </audio>
        <p class="bottom">Scroll for more pictures</p>
      </div>
    </div>

    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Anna and Luke standing on the Brooklyn side looking towards Manhattan"
            src="https://drive.google.com/uc?export=view&id=1b1M058Xp_RJe9R6q61YFmP4NLjUaqBnI"
          />
          <h5>A trip to NYC.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Indigo and Juniper wearing various Asian outfits"
            src="https://drive.google.com/uc?export=view&id=1DDLKYOPMszG0IgupleueTN8arPScgQlb"
          />
          <h5>Sister love.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Building a hoop house"
            src="https://drive.google.com/uc?export=view&id=1q-e9LFVoEbbDAD7m7u4dguP1KkB3eu-G"
          />
          <h5>Indigo helps build a hoophouse.</h5>
        </div>
      </div>
    </div>
    <!-- <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Moses takes a bath."
            src="https://drive.google.com/uc?export=view&id=1QXkaRvjZdkwBMjyeSPMSysrvh_BE_IM4"
          />
          <h5>Bath boy.</h5>
        </div>
      </div>
    </div> -->
    <!-- <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Anna and the girls hold a baby yoda shaped cake."
            src="https://drive.google.com/uc?export=view&id=18MRXSrdRi7QGNq03F9VLeuOC_CNEyy1N"
          />
          <h5>Baby Yoda Cake. 10/10.</h5>
        </div>
      </div>
    </div> -->
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Indigo and Juniper wearing various Asian outfits"
            src="https://drive.google.com/uc?export=view&id=1x3JjICCEBECbRWeVdSP51wxe-qarhgyX"
          />
          <h5>HBD Indigo.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Luke holds a rooster"
            src="https://drive.google.com/uc?export=view&id=1EjSMHdvBQbKptS3UdVVVkaI960_iFiK3"
          />
          <h5>Senior portrait.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Luke and Anna on the porch"
            src="https://drive.google.com/uc?export=view&id=1FYI0ureJdRcgEpnadvkzBWHQ1Ieo14QV"
          />
          <h5>She thicc.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Luke holds Samson in the hospital"
            src="https://drive.google.com/uc?export=view&id=1ENXEtu9tH6ggwFBP1OTbeiAn74aEHZyh"
          />
          <h5>Samson is born.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Samson 1 day old"
            src="https://drive.google.com/uc?export=view&id=1jWI3ejDoTc7KGab8_Fm_qsVJn2OcY_xi"
          />
          <h5>Little plump boi.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Samson 1 day old"
            src="https://drive.google.com/uc?export=view&id=1Bd41HpiDyeZxW014rrFOXsEk0ebZKgiD"
          />
          <h5>The bros.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="A strange family dressed as characters for halloween"
            src="https://drive.google.com/uc?export=view&id=1h3e6k8RbYgZZ9apfLcKv1BjGBiWq6Rt5"
          />
          <h5>Star Wars y'all.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Two midwestern kids on a beach"
            src="https://drive.google.com/uc?export=view&id=1w3kCK4kcBNGxi5Yz7T19SSOWXktVOCkx"
          />
          <h5>Beach bumz™️.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content center">
        <div>
          <img
            loading="lazy"
            alt="Family photo"
            src="https://drive.google.com/uc?export=view&id=1KWTSUZBcOCVLV-IaYndIxzQAbi37ohig"
          />
          <h5>it us.</h5>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="content">
        <h1 class="huge">The End</h1>
        <h5>Other things you may like:</h5>
        <a class="block" style="color:white" href="/christmas-2018" target="_blank">2018 Digital Christmas Card</a>
        <a class="block" target="_blank" style="color: white" href="https://open.spotify.com/artist/7xe7qzQ4BlFpgbl6KI4ftW?si=eHjekPxsQ6OpjHBchAjNHA">More music on Spotify</a>
        <p>Subscribe to Luke's <a target="_blank" style="color: white" href="https://lukemoderwell.substack.com">newsletter</a>:</p>
        <div><iframe src="https://lukemoderwell.substack.com/embed" width="300" height="100" style="margin: -12px;" frameborder="0" scrolling="no"></iframe></div>
        <small>Copyright. 2020 ModCorp Industries Ltd.</small>
      </div>
    </div>
  </body>
  <script>
    var btn = document.getElementById('btn');
    var audio = document.getElementById('audio');
    function init() {
      btn.disabled = false;
      btn.innerText = '► Play';
    }
    function togglePlay() {
      if (!audio.paused) {
        audio.pause();
        btn.innerText = '► Play';
      } else {
        audio.play();
        btn.innerText = '❚❚ Pause';
      }
    }
    window.addEventListener('load', init);
    btn.addEventListener('click', togglePlay);

    var iframe = document.getElementsByTagName('iframe')[0];
    var name = iframe.getElementsByClassName('publication-name')[0];
    var tag = iframe.getElementsByClassName('publication-tagline')[0];
    console.log(iframe, name, tag);
    name.classList.add('hide');
    tag.classList.add('hide');
  </script>
</html>
