<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main class="christmas-card radial-overlay">
    <div class="christmas-card-content bg-overlay">
      <h4>Warmest <span></span>Christmas wishes from the Moderwells.</h4>
      {{ content }}
      <div class="christmas-card-buttons">
        <a class="btn" href="https://s3.us-east-2.amazonaws.com/moderwell.family/christmas-2018/twenty-eight-teen-master.mp3">Our
          Year In A Song!</a>
        <a class="btn" href="/christmas-2018/pics">Moar Pics Pls!</a>
      </div>
    </div>
  </main>
</body>

</html>
