@import '_reset.scss';
@import '_typo.scss';

body {
  padding: 1rem;
  background-color: blanchedalmond;
  color: rgba(0, 0, 0, 0.75);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}
